{% extends "shop/base.html" %}
{%block title%} Log-in {%endblock%}

{%block content%}
  <h2>Log-in</h2>
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
    <div id="login-page">
        {%if form.errors%}
            <p>Your username and password didn't match. Please try again.</p>
            {%endif%}
                <form action="{%url 'login' %}" method="post" id="login-form">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button type="submit" id="login-btn">Log in</button>
                </form>
                
                <div class='social'>
                    <ul>
                        <li class='google'>
                            <a href="{% url "social:begin" "google-oauth2" %}">Log in with Google</a>
                        </li>
                    </ul>

                </div>
                
                <div>
                    <p>Don't have an account? <a href="{% url 'register' %}">Create one</a></p>
                    <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it</a></p>
                    <p>Or go back to the <a href="{% url 'shop:product_list' %}">product list</a>.</p>
                </div>
    </div>

    <div style="padding: 15px; background-color: #e8f4fc; border: 1px solid #b6e0fe; border-left: 5px solid #007bff; border-radius: 4px; margin-bottom: 20px; float: right; width: 600px; font-size: 20px;">
                <h4 style="margin-top: 0; color: #007bff;">Instructions</h4>
                <p style="margin: 0;">
                    <strong>Admin Login:</strong> Go to <code>/admin</code> and use <code>Username: admin</code>, <code>Password: testuser</code> to acess admin page with limited permissions. <a href="{%url  "admin:index" %}" style="color: #007bff;">Go to Admin</a><br>
                    <br>
                    <strong>Stripe Test Payment:</strong> Use card number <code>4242 4242 4242 4242</code>, any future expiry date, any CVC (e.g. <code>123</code>) at payment page after checkout.
                </p>
    </div>


</div>

{%endblock%}