{% extends "shop/base.html" %}
{% load static %}


{% block title %}Pay your order{% endblock title %}

{% block content %}
    <h1>Order summary</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>
                    <img src="{% if item.product.image %}{{item.product.image.url}}
                     {% else %} {%static "img/no_image.png" %} {% endif %}" alt="item-image">
                </td>
                <td>{{ item.product.name }}</td>
                <td class="num">${{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">${{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="4"> Total</td>
                <td class="num">${{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>
    <form action="{% url "payment:process" %}" method="post">
        <input type="submit" value="Pay now">
        {% csrf_token %}
    </form>
    <div style="padding: 15px; background-color: #e8f4fc; border: 1px solid #b6e0fe; border-left: 5px solid #007bff; border-radius: 4px; margin-bottom: 15px; float: right; width: 350px; font-size: 20px;">
                <h4 style="margin-top: 0; color: #007bff;">Instructions</h4>
                <p style="margin: 0;">
                    <strong>Stripe Test Payment:</strong> Use card number <code>4242 4242 4242 4242</code>, any future expiry date, any CVC (e.g. <code>123</code>), and any ZIP.
                </p>
    </div>


{% endblock content %}